* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

header {
    padding-top: 32px;
    height: 152px;
            
}

header div {
    width: 120px;
    margin: auto;
    background: linear-gradient(90deg, #9572fc 0%, #43e7ad 50.52%, #e2d45c 100%);
    border-radius: 50%;
    display: flex;
    padding: 4px;
    transition: transform .3s;
    
}

header div img {
    width: 100%;
    border-radius: 50%;   
}

header div:hover {
    transform: scale(1.05);
}

ul {

    list-style: none;

}


body {

    background-image: url(./assets/bg.jpg);
    background-position: top center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: #121214;

}

body * {

    font-family: 'inter', sans-serif;
    line-height: 160%;
}


main {

    max-width: 580px;
    width: 90%;
    margin: auto;
    display: grid;
    flex-direction: column;
    gap: 24px;
    margin: 32px auto;
}

section {
    color: white;
    background: linear-gradient(90deg, #9572fc 0%, #43e7ad 50.52%, #e2d45c 100%);
    padding-top: 4px;
    border-radius: 10px;
}

section div {
    background-color: #2a2634;
    padding: 32px;
    padding-top: 24px;
    border-radius: 8px;
}

section h2 {

    font-weight: 900;
    font-size: 24px;
    letter-spacing: -0.47px;
}

section p {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: -0.18px;
    color: #a1a1aa;

}

section ul {
    
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 24px;
}



.game-list img {
    width: 90px;
    border-radius: 8px;
    transition: transform .15s;
}

.game-list li:hover {
    transform: scale(1.05);
}

.channel-list img {
    width: 70px;
    border-radius: 50%;
    border: 1px solid #443e54;
    transition: transform .15s;
}

.channel-list li:hover {
    transform: scale(1.05);
}

.social-list li {
    transition: transform .15s;
}

.social-list li:hover {
    transform: scale(1.1);
}

/* ANIMATION */

header div {
    animation: FromTop .7s .3s backwards;
}

@keyframes FromTop {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

main section {
    animation: FromBottom .7s backwards;
            
}

main section:nth-child(1) {
    animation-delay: .2s;
}

main section:nth-child(2) {
    animation-delay: .4s;
}

main section:nth-child(3) {
    animation-delay: .8s;
    
}

@keyframes FromBottom {
    from {
        opacity: 0;
        transform: translateX(-70px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }

}
